[submodule "DevConfigs"]
	path = DevConfigs
	url = https://github.com/Flakroup/DevConfigs.git
[submodule "FEx"]
	path = FEx
	url = https://github.com/Flakroup/FEx.git
	branch = develop
[submodule "FEx.WakaTime"]
	path = FEx.WakaTime
	url = https://github.com/Flakroup/FEx.WakaTime.git
